.game-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height: 700px;
	width: 700px;
	margin: auto;
	margin-top: 20vh;
}
  
.square0 { grid-area: 1 / 1 / 2 / 2; }
.square1 { grid-area: 1 / 2 / 2 / 3; }
.square2 { grid-area: 1 / 3 / 2 / 4; }
.square3 { grid-area: 2 / 1 / 3 / 2; }
.square4 { grid-area: 2 / 2 / 3 / 3; }
.square5 { grid-area: 2 / 3 / 3 / 4; }
.square6 { grid-area: 3 / 1 / 4 / 2; }
.square7 { grid-area: 3 / 2 / 4 / 3; }
.square8 { grid-area: 3 / 3 / 4 / 4; } 